<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy 2025 AIML-CEB</p>
              


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		<p>AJCAI 2025 Workshop on AIML in Computational and Experimental Biology (AIML-CEB 2025)</p>
		</div>
<!-- 		<div class="col-sm-4">
		  Contact:<br />
Asiri Wijesinghe<br />
		  Data61, CSIRO<br />
		  Australia <br />
		</div> -->
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
